/* ////////// Global ////////// */

* {
	font-family: 'Ubuntu', sans-serif;
}

a {
	text-decoration: none!important;
}

.container {
	width: 100%!important;
}

.right {
	float: right;
}

.col-navBtn {
	width: 33.33%;
	float: left;

	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.content {
	height: 100%;
	width: 100%;
	background-color: #272a2d;
	padding: 30px 15px 30px 15px;
	overflow: scroll;
	background-image: url('../imgs/bkg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	position: fixed;
}

/* iPads (portrait and landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.content {
		background-image: url('../imgs/bkg_tab.png');
	}
}

.navBtn {
	border-radius: 50%;
	background-color: #fff;
	height: 70px;
	width: 70px;
	padding: 26px 0 0 0;
}

.navBtn:hover{
	background-color: #ffea00;
}

.navBtn:active{
	background-color: #ffea00;
}

.navBtn.back {
	float: left;
}

.navBtn.grid {
	float: right;
	margin: 0 10px;
}

.navBtn.edit {
	float: right;
}

.pageInstruct {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;

	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0 0 30px 0;
}

::-webkit-input-placeholder {
   color: rgba(255, 255, 255, .1);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, .1);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, .15);  
}

:-ms-input-placeholder {  
   color: rgba(255, 255, 255, .15);  
}



/* ////////// Pop-up ////////// */

.popUp {
	width: 380px;
	border-radius: 10px;
	border: 2px solid rgba(255, 255, 255, .1);
	background-color: rgba(36, 53, 93, .98);
	padding: 20px;
	position: fixed;
	z-index: 200;
	margin: auto;
	left: 0;
    right: 0;
    top: 50%;
    -ms-transform: translateY(-50%); /* IE 9 */
    -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
    transform: translateY(-50%);
}

.popOverlay{
	position: fixed;
	width: 100%;
	height: 100%;
	display: block;
}

.popUpInstruct {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;

	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.popUpPlayerCircle {
	border-radius: 50%;
	border: 2px solid rgba(255,255,255, 0.1);
	height: 125px;
	width: 125px;
	margin: 0 auto 20px auto;
}

.popUp .form {
	text-align: center;
	color: #fff;
	letter-spacing: 5px;
}

.popUp input {
	height: 50px;

	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-radius: 10px;
	border:none;
	background-color: rgba(0, 0, 0, 0.3);
	outline: none;
}

.popUpBtn {
	width: 100%;
	height: 50px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.25);
	padding: 15px 0 0 0;
}

.popUpBtn:hover{
	background-color: #ffea00;
}

.popUpBtn:active{
	background-color: #ffea00;
}

.popUp.incorrect input {
	border: 2px solid rgba(185, 57, 57, 1);
}

.popUp.notComplete {
	border: 2px solid rgba(134, 41, 41, 1);
	background-color: rgba(185,57,57, .98);
}

@media only screen and (max-width:400px) {
	.popUp {
		width: 90%;
	}
}



/* ////////// Site ////////// */

.popUp.site .remember {
	color: #fff;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 20px 0 5px 0;
	display: inline-block;
}

.popUp.site .checkbox {
	width: auto;
	height: auto;
	margin: 0  0 0 8px;
	display: inline-block;

	position: relative;
	top: -1px;
}

.siteCont {
	width: 50%;
	float: left;
	height: 250px;
	border-right: 1px solid rgba(255,255,255,.1);

	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%); /* IE 9 */
    -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
    transform: translateY(-50%);
}

.siteCont:last-child {
	border-right: none;
}

.siteCont p {
	font-size: 4em;
	color: #fff;
	letter-spacing: -1px;
	text-align: center;

	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%); /* IE 9 */
    -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
    transform: translateY(-50%);
}

.popUp.site {
	padding: 30px 20px 20px 20px;
	border: none;
	background: none;
}

.popUp.site input {
	width: 100%;
	text-align: left;
	padding: 0 0 0 15px;
	margin: 0 0 5px 0;
}

@media only screen and (max-width:750px) {

	.siteCont {
		width: 100%;
		height: 280px;
		border: none;
	}

	.siteCont:first-child {
		display: none;
	}
}



/* ////////// Dashboard ////////// */

.dashBtnCont {
	width: 50%;
	float: left;
	height: 250px;
	border-right: 1px solid rgba(255,255,255,.1);

	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%); /* IE 9 */
    -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
    transform: translateY(-50%);
}

.dashBtnCont:last-child {
	border-right: none;
}

.dashBtn {
	width: 90%;
	height: 50px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.15);
	padding: 15px 0 0 0;
	margin: auto;

	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%); /* IE 9 */
    -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
    transform: translateY(-50%);
}

a.dashBtn{
	display: block;
}

.dashBtn:hover {
	background-color: #ffea00;
}

.dashBtn p {
	color: #27365d;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
}

@media only screen and (max-width:750px) {

	.dashBtnCont {
		width: 100%;
		height: auto;
		border-right: none;
		border-bottom: 1px solid rgba(255,255,255,.1);
		padding: 20px 0; 
	}

	.dashBtnCont:last-child {
		border: none;
		margin: 0;
	}

	.dashBtn {
		position: inherit;
		top: inherit;
		transform: none;
	}
}



/* ////////// Login Pop-up ////////// */

.popUp.login {
	padding: 30px 20px 20px 20px;
}

.popUp.login .form {
	margin-top: 30px;
}

.popUp.login input {
	width: 100%;
	text-align: left;
	padding: 0 0 0 15px;
}

.popUpBtn.login {
	margin-top: 20px;
}



/* ////////// Player Faces ////////// */

a.player_login{
	display: block;
}

.playerCircle {
	border-radius: 50%;
	border: 2px solid rgba(255,255,255, 0.1);
	height: 125px;
	width: 125px;
	margin: 35px auto 20px auto;
}

.playerInfo {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;

	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.playerNo {
	font-size: 0.9em;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	width: 34px;
	height: 34px;
	background-color: rgba(255, 255, 255, .1);
	
	display: inline-block;

	margin: 0 10px 0 0;
	padding: 8px 0 0 0;
}

.gk {
	color: #fff!important;
	background-color: rgba(174, 0, 185, .3)!important;
}



/* ////////// D.O.B. Pop-up ////////// */

.popUp.dob {
	padding: 40px 20px 20px 20px;
}

.popUpInstruct.dob {
	margin-top: 40px;
}

.popUp.dob .form {
	margin-top: 20px;
}

.popUp.dob input {
	width: 55px;
	text-align: center;
	margin-right: 5px;
}

.popUpBtn.dob {
	margin-top: 40px;
}



/* ////////// Form ////////// */

.formQuestion {
	margin: 30px auto 0;
}

.formInstruct {
	width: 25%;
	height: 100px;
	float: left;
	position: relative;
}

.formQuestion .formInstruct input {
	width: 100%;
	height: 100px;
	color: #ffea00; 
	font-size: 0.9em;
	text-align: center;
	padding: 0;
	background: 0 0;
}

.formQuestion .formInstruct input::-webkit-input-placeholder {
   color: #ffea00;
}

.formQuestion .formInstruct input:-moz-placeholder { /* Firefox 18- */
   color: #ffea00;
}

.formQuestion .formInstruct input::-moz-placeholder {  /* Firefox 19+ */
   color: #ffea00;
}

.formQuestion .formInstruct input:-ms-input-placeholder {  
   color: #ffea00;
}

.formInstruct.input {
	height: 60px;
}

.formInstruct.input input {
	height: 60px;
}

.formInstruct p {
	color: #ffea00;
	font-size: 0.9em;
	letter-spacing: 1px;
	line-height: 20px;
	text-transform: uppercase;
	text-align: center;

	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%); /* IE 9 */
    -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
    transform: translateY(-50%);
}

.formBtnCont {
	width: 15%;
	float: left;
	position: relative;
}

.formQuestion .formBtnCont input {
	width: 95%;
	height: 100px;
	font-size: .75em;
	text-align: center;
	padding: 0;
	background-color: rgba(0,0,0,.1);
	word-break: break-word;
	padding: 5px;
}

.formQuestion .formBtnCont input::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 1);
}

.formQuestion .formBtnCont input:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, 1);  
}

.formQuestion .formBtnCont input::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, 1);  
}

.formQuestion .formBtnCont input:-ms-input-placeholder {  
   color: rgba(255, 255, 255, 1);  
}

.formBtn {
	width: 95%;
	height: 100px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.1);
	position: relative;
}

.formBtn.addAnswer {
	background: none;
}

.formBtn.selected{
	background-color: #fff;
	box-shadow: 0 3px 0 rgba(0,0,0,.25);
}

.formBtn.selected p{
	color: #27365d;
}

.formBtn p{
	font-size: 0.75em;
	color: #fff;
	letter-spacing: 1px;
	line-height: 15px;
	text-transform: uppercase;
	text-align: center;

	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%); /* IE 9 */
    -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
    transform: translateY(-50%);
}

.formQuestion .form {
	width: 15%;
	float: left;
}

.formQuestion input {
	width: 95%;
	height: 60px;
	float: left;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 0 20px;
	border-radius: 10px;
	border: none;
	background-color: rgba(0, 0, 0, 0.3);
	outline: none;
}

.submitBtn {
	border-radius: 50%;
	background-color: #ffea00;
	height: 70px;
	width: 70px;
	padding: 26px 0 0 0;
}

@media only screen and (max-width:750px) {

	.formInstruct {
		width: 100%;
	}

	.formInstruct.input {
		height: 100px;
	}

	.formInstruct.input input {
		height: 100px;
	}

    /*.formInstruct p {
		width: 82%;
		margin: 0 auto;
	}*/
	
	.formBtnCont {
		width: 33.3%;
		margin: 0 0 1.5% 0;
	}

	.formQuestion .form {
		width: 100%;
	}

	.formQuestion input {
		width: 100%;
	}
}

@media only screen and (max-width:400px) {
	
	.formBtnCont {
		width: 50%;
		margin: 0 0 2.5% 0;
	}
}



/* ////////// Muscle Pop-up ////////// */

.popUp.muscle {
	height: 621px;
}

.popUpInstruct.muscle {
	margin: 10px 0 30px 0;
}

.popUpBtn.muscle {
	margin-top: 20px;
}

.formQuestionCont {
	height: 450px;
	overflow: scroll;
}

.formQuestion.muscle {
	margin: 0;
}

.formInstruct.muscle {
	width: 100%;
	height: 75px;
}

.formBtnCont.muscle {
	width: 33.33%;
	margin: 0 0 1.5% 0;
}

@media only screen and (max-width:400px) {
	
	.formBtnCont.muscle {
		width: 50%;
		margin: 0 0 2.5% 0;
	}
}



/* ////////// Edit Form ////////// */

.removeFormInstruct {
	border-radius: 50%;
	background-color: #ffea00;
	height: 30px;
	width: 30px;
	float: left;

	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%); /* IE 9 */
    -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
    transform: translateY(-50%);
	z-index: 100;
}

.removeFormInstruct.addQuestion {
	background-color: #fff;
}

.removeFormInstruct.addAnswer {
	background-color: #fff;
	position: relative;
	margin: 0 auto;
	float: inherit;
}



/* ////////// Choose Question Type Pop-up ////////// */

.popUp.qType {
	height: auto;
}

.popUpInstruct.qType {
	margin: 10px 0 30px 0;
}

.formBtnCont.qType {
	width: 50%;
}



/* ////////// Report Table ////////// */

table {
	width: 100%;
	color: #fff;
	letter-spacing: 1px;
	margin: 30px 0 0 0;

	border-spacing: 5px 10px!important;
	border-collapse: separate!important;
}

table .playerInfo {
	text-align: left;
	padding: 0 0 0 15px;
}

th {
	width: 100px;
	color: #ffea00;
	font-weight: 400;
	text-align: center!important;
	text-transform: uppercase;
}

tr {
	height: 60px;
}

table .name {
	width: 180px;
}

tbody tr:nth-child(even) {
	background-color: rgba(255, 255, 255, .025);
}

td {
	text-align: center;
}

td.neg {
	border-radius: 10px;
	background-color: #b93939;
	box-shadow: 0 3px 0 rgba(0,0,0,.25);
	padding: 10px;
}



/* ////////// Imgs ////////// */

.thfclogo {
	height: 95px;
	width: 39px;
	margin: 0 auto -25px;
	background-size: cover;
	background-image: url('../imgs/icons/thfcLogo.png');
}

.arrowBlueLeft {
	height: 20px;
	width: 20px;
	margin:auto;
	background-size: cover;
	background-image: url('../imgs/icons/arrowBlueLeft.png');
}

.arrowBlueRight {
	height: 20px;
	width: 20px;
	margin:auto;
	background-size: cover;
	background-image: url('../imgs/icons/arrowBlueRight.png');
}

.arrowWhiteDown {
	height: 20px;
	width: 20px;
	margin:auto;
	background-size: cover;
	background-image: url('../imgs/icons/arrowWhiteDown.png');
}

.gridBlue {
	height: 20px;
	width: 24px;
	margin: auto;
	background-size: cover;
	background-image: url('../imgs/icons/gridBlue.png');
}

.editBlue {
	height: 21px;
	width: 21px;
	margin: auto;
	background-size: cover;
	background-image: url('../imgs/icons/editBlue.png');

	position: relative;
	top: -1px;
}

.emailBlue {
	height: 20px;
	width: 29px;
	margin: auto;
	background-size: cover;
	background-image: url('../imgs/icons/emailBlue.png');
}

.minusBlue {
	height: 2px;
	width: 10px;
	margin: 0 auto;
	background-size: cover;
	background-image: url('../imgs/icons/minusBlue.png');

	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%); /* IE 9 */
    -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
    transform: translateY(-50%);
}

.plusBlue {
	height: 10px;
	width: 10px;
	margin: 0 auto;
	background-size: cover;
	background-image: url('../imgs/icons/plusBlue.png');

	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%); /* IE 9 */
    -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
    transform: translateY(-50%);
}

.crossWhiteCont {
	height: 20px;
	width: 20px;
	float: right;
	position: absolute;
	right: 10px;
	top: 10px;
	margin-right: 5%;
}

.crossWhite {
	height: 9px;
	width: 9px;
	background-size: cover;
	background-image: url('../imgs/icons/crossWhite.png');
	margin: auto;

	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%); /* IE 9 */
    -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
    transform: translateY(-50%);
}

.posOrNegCont {
	height: 20px;
	width: 20px;
	float: right;
	position: absolute;
	right: 10px;
	bottom: 10px;
	margin-right: 5%;
}

.posOrNeg {
	height: 11px;
	width: 11px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, .1);
	margin: auto;

	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%); /* IE 9 */
	-webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
	transform: translateY(-50%);
}

.posOrNeg.neg {
	background-color: #b93939;
}

.playerImage {
	height: 113px;
	width: 113px;
	margin: 4px auto;
	background-size: cover;
}

.completedForm {
	opacity: 0.1;
}

.adebayor {
	background-image: url('../imgs/adebayor_72dpi.png');
}
.bentaleb {
	background-image: url('../imgs/bentaleb_72dpi.png');
}
.capoue {
	background-image: url('../imgs/capoue_72dpi.png');
}
.carroll {
	background-image: url('../imgs/carroll_72dpi.png');
}
.chadli {
	background-image: url('../imgs/chadli_72dpi.png');
}
.chiriches {
	background-image: url('../imgs/chiriches_72dpi.png');
}
.davies {
	background-image: url('../imgs/davies_72dpi.png');
}
/*.dawson {
	background-image: url('../imgs/dawson_72dpi.png');
}*/
.dembele {
	background-image: url('../imgs/dembele_72dpi.png');
}
.dier {
	background-image: url('../imgs/dier_72dpi.png');
}
.eriksen {
	background-image: url('../imgs/eriksen_72dpi.png');
}
.friedel {
	background-image: url('../imgs/friedel_72dpi.png');
}
/*.fryers {
	background-image: url('../imgs/fryers_72dpi.png');
}*/
.holtby {
	background-image: url('../imgs/holtby_72dpi.png');
}
.kaboul {
	background-image: url('../imgs/kaboul_72dpi.png');
}
.kane {
	background-image: url('../imgs/kane_72dpi.png');
}
.lamela {
	background-image: url('../imgs/lamela_72dpi.png');
}
.lennon {
	background-image: url('../imgs/lennon_72dpi.png');
}
.lloris {
	background-image: url('../imgs/lloris_72dpi.png');
}
.mason {
	background-image: url('../imgs/mason_72dpi.png');
}
.naughton {
	background-image: url('../imgs/naughton_72dpi.png');
}
.paulinho {
	background-image: url('../imgs/paulinho_72dpi.png');
}
.rose {
	background-image: url('../imgs/rose_72dpi.png');
}
/*.sandro {
	background-image: url('../imgs/sandro_72dpi.png');
}*/
.soldado {
	background-image: url('../imgs/soldado_72dpi.png');
}
.townsend {
	background-image: url('../imgs/townsend_72dpi.png');
}
.vertonghen {
	background-image: url('../imgs/vertonghen_72dpi.png');
}
.vorm {
	background-image: url('../imgs/vorm_72dpi.png');
}
.walker {
	background-image: url('../imgs/walker_72dpi.png');
}
.fazio {
	background-image: url('../imgs/fazio_72dpi.png');
}
.stambouli {
	background-image: url('../imgs/stambouli_72dpi.png');
}
