@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/AMA\/Desktop\/PROVA\/IN\/styles\/style\.scss}line{font-family:\000031}}
.ciao {
  font-size: 25px;
}



/* ////////// Global ////////// */

* {
	font-family: 'Ubuntu', sans-serif;
}

a {
	text-decoration: none!important;
}

.container {
	width: 100%!important;
}

.right {
	float: right;
}

.content {
	height: 100%;
	width: 100%;
	background-color: #272a2d;
	padding: 30px 15px 30px 15px;
	overflow: scroll;
	background-image: url('../imgs/bkg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	position: fixed;
}

.backBtn {
	border-radius: 50%;
	background-color: #fff;
	height: 70px;
	width: 70px;
	padding: 26px 0 0 0;
	float: left;
}

.backBtn:hover{
	background-color: #ffea00;
}

.backBtn:active{
	background-color: #ffea00;
}

.gridBtn {
	border-radius: 50%;
	background-color: #fff;
	height: 70px;
	width: 70px;
	padding: 26px 0 0 0;
}

.gridBtn:hover{
	background-color: #ffea00;
}

.gridBtn:active{
	background-color: #ffea00;
}

.pageInstruct {
	font-size: 1em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;

	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0 0 30px 0;
}

::-webkit-input-placeholder {
   color: rgba(255, 255, 255, .1);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, .1);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, .15);  
}

:-ms-input-placeholder {  
   color: rgba(255, 255, 255, .15);  
}



/* ////////// Pop-up ////////// */

.popUp {
	width: 380px;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, .1);
	background-color: rgba(36, 53, 93, .98);
	padding: 20px;
	position: fixed;
	z-index: 1;
	margin: auto;
	left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.popUpInstruct {
	font-size: 1em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;

	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.popUpPlayerCircle {
	border-radius: 50%;
	border: 1px solid rgba(255,255,255, 0.1);
	height: 125px;
	width: 125px;
	margin: 0 auto 20px auto;
}

.popUp form {
	text-align: center;
	color: #fff;
	letter-spacing: 5px;
}

.popUp input {
	height: 50px;

	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-radius: 10px;
	border:none;
	background-color: rgba(0, 0, 0, 0.3);
	outline: none;
}

.popUp.incorrect input {
	border: 2px solid rgba(185, 57, 57, 1)
}

.popUpBtn {
	width: 100%;
	height: 50px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.25);
	padding: 15px 0 0 0;
}

.popUpBtn:hover{
	background-color: #ffea00;
}

.popUpBtn:active{
	background-color: #ffea00;
}

@media only screen and (max-width:400px) {
	.popUp {
		width: 90%;
	}
}



/* ////////// Dashboard ////////// */

.dashBtnCont {
	width: 50%;
	float: left;
	height: 250px;
	border-right: 1px solid rgba(255,255,255,.1);

	position: relative;
	top: 50%;
	transform: translateY(-78%);
}

.dashBtnCont:last-child {
	border-right: none;
}

.dashBtn {
	width: 90%;
	height: 50px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.15);
	padding: 15px 0 0 0;
	margin: auto;

	position: relative;
	top: 100px;
}

.dashBtn:hover {
	background-color: #ffea00;
}

.dashBtn p {
	font-size: 1em;
	color: #27365d;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
}



/* ////////// Login Pop-up ////////// */

.popUp.login {
	padding: 30px 20px 20px 20px;
}

.popUp.login form {
	margin-top: 30px;
}

.popUp.login input {
	width: 100%;
	text-align: left;
	padding: 0 0 0 15px;
}

.popUpBtn.login {
	margin-top: 20px;
}



/* ////////// Player Faces ////////// */

.playerCircle {
	border-radius: 50%;
	border: 1px solid rgba(255,255,255, 0.1);
	height: 125px;
	width: 125px;
	margin: 35px auto 20px auto;
}

.playerInfo {
	font-size: 1em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;

	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.playerNo {
	font-size: 0.9em;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	width: 34px;
	height: 34px;
	background-color: rgba(255, 255, 255, .1);
	
	display: inline-block;

	margin: 0 10px 0 0;
	padding: 8px 0 0 0;
}

.gk {
	color: #fff!important;
	background-color: rgba(174, 0, 185, .3)!important;
}



/* ////////// D.O.B. Pop-up ////////// */

.popUp.dob {
	padding: 40px 20px 20px 20px;
}

.popUpInstruct.dob {
	margin-top: 40px;
}

.popUp.dob form {
	margin-top: 20px;
}

.popUp.dob input {
	width: 55px;
	text-align: center;
	margin-right: 5px;
}

.popUpBtn.dob {
	margin-top: 40px;
}



/* ////////// Form ////////// */

.formQuestion {
	margin: 30px auto 0;
}

.formInstruct {
	width: 25%;
	height: 100px;
	float: left;
}

.formInstruct.input {
	height: 60px;
}

.formInstruct p {
	color: #ffea00;
	font-size: 0.9em;
	letter-spacing: 1px;
	line-height: 20px;
	text-transform: uppercase;
	text-align: center;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.formBtnCont {
	width: 15%;
	float: left;
}

.formBtn {
	width: 95%;
	height: 100px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.1);
}

.formBtn.selected{
	background-color: #fff;
	box-shadow: 0 3px 0 rgba(0,0,0,.25);
}

.formBtn.selected p{
	color: #27365d;
}

.formBtn p{
	font-size: 0.75em;
	color: #fff;
	letter-spacing: 1px;
	line-height: 15px;
	text-transform: uppercase;
	text-align: center;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.formQuestion form {
	width: 15%;
	float: left;
}

.formQuestion input {
	width: 95%;
	height: 60px;

	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 0 20px;
	border-radius: 10px;
	border: none;
	background-color: rgba(0, 0, 0, 0.3);
	outline: none;
}

.submitBtn {
	border-radius: 50%;
	background-color: #ffea00;
	height: 70px;
	width: 70px;
	padding: 26px 0 0 0;
}

@media only screen and (max-width:800px) {

	.formInstruct {
		width: 100%;
	}

	.formInstruct.input {
		height: 100px;
	}

	.formInstruct p {
		width: 82%;
		margin: 0 auto;
	}
	
	.formBtnCont {
		width: 33.3%;
		margin: 0 0 1.5% 0;
	}

	.formQuestion form {
		width: 100%;
	}

	.formQuestion input {
		width: 100%;
	}
}

@media only screen and (max-width:400px) {
	
	.formBtnCont {
		width: 50%;
		margin: 0 0 2.5% 0;
	}
}



/* ////////// Muscle Pop-up ////////// */

.popUp.muscle {
	height: 621px;
}

.popUpInstruct.muscle {
	margin: 10px 0 30px 0;
}

.popUpBtn.muscle {
	margin-top: 20px;
}

.formQuestionCont {
	height: 450px;
	overflow: scroll;
}

.formQuestion.muscle {
	margin: 0;
}

.formInstruct.muscle {
	width: 100%;
	height: 75px;
}

.formBtnCont.muscle {
	width: 33.33%;
	margin: 0 0 1.5% 0;
}

@media only screen and (max-width:400px) {
	
	.formBtnCont.muscle {
		width: 50%;
		margin: 0 0 2.5% 0;
	}
}



/* ////////// Edit Form ////////// */

.removeFormInstruct {
	border-radius: 50%;
	background-color: #ffea00;
	height: 30px;
	width: 30px;
	float: left;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1000;
}

.removeFormInstruct.plus {
	background-color: #fff;
}



/* ////////// Imgs ////////// */

.thfclogo {
	height: 95px;
	width: 39px;
	margin: 0 auto -25px;
	background-size: cover;
	background-image: url('../imgs/icons/thfcLogo.png');
}

.arrowBlueLeft {
	height: 20px;
	width: 20px;
	margin:auto;
	background-size: cover;
	background-image: url('../imgs/icons/arrowBlueLeft.png');
}

.arrowBlueRight {
	height: 20px;
	width: 20px;
	margin:auto;
	background-size: cover;
	background-image: url('../imgs/icons/arrowBlueRight.png');
}

.arrowWhiteDown {
	height: 20px;
	width: 20px;
	margin:auto;
	background-size: cover;
	background-image: url('../imgs/icons/arrowWhiteDown.png');
}

.gridBlue {
	height: 20px;
	width: 24px;
	margin:auto;
	background-size: cover;
	background-image: url('../imgs/icons/gridBlue.png');
}

.minusBlue {
	height: 2px;
	width: 10px;
	margin: 0 auto;
	background-size: cover;
	background-image: url('../imgs/icons/minusBlue.png');

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.plusBlue {
	height: 9px;
	width: 10px;
	margin: 0 auto;
	background-size: cover;
	background-image: url('../imgs/icons/plusBlue.png');

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.playerImage {
	height: 113px;
	width: 113px;
	margin: 5px auto;
	background-size: cover;
}

.completedForm {
	opacity: 0.1;
}

.adebayor {
	background-image: url('../imgs/adebayor_72dpi.png');
}
.bentaleb {
	background-image: url('../imgs/bentaleb_72dpi.png');
}
.capoue {
	background-image: url('../imgs/capoue_72dpi.png');
}
.carroll {
	background-image: url('../imgs/carroll_72dpi.png');
}
.chadli {
	background-image: url('../imgs/chadli_72dpi.png');
}
.chiriches {
	background-image: url('../imgs/chiriches_72dpi.png');
}
.davies {
	background-image: url('../imgs/davies_72dpi.png');
}
.dawson {
	background-image: url('../imgs/dawson_72dpi.png');
}
.dembele {
	background-image: url('../imgs/dembele_72dpi.png');
}
.dier {
	background-image: url('../imgs/dier_72dpi.png');
}
.eriksen {
	background-image: url('../imgs/eriksen_72dpi.png');
}
.friedel {
	background-image: url('../imgs/friedel_72dpi.png');
}
.fryers {
	background-image: url('../imgs/fryers_72dpi.png');
}
.holtby {
	background-image: url('../imgs/holtby_72dpi.png');
}
.kaboul {
	background-image: url('../imgs/kaboul_72dpi.png');
}
.kane {
	background-image: url('../imgs/kane_72dpi.png');
}
.lamela {
	background-image: url('../imgs/lamela_72dpi.png');
}
.lennon {
	background-image: url('../imgs/lennon_72dpi.png');
}
.lloris {
	background-image: url('../imgs/lloris_72dpi.png');
}
.mason {
	background-image: url('../imgs/mason_72dpi.png');
}
.naughton {
	background-image: url('../imgs/naughton_72dpi.png');
}
.paulinho {
	background-image: url('../imgs/paulinho_72dpi.png');
}
.rose {
	background-image: url('../imgs/rose_72dpi.png');
}
.sandro {
	background-image: url('../imgs/sandro_72dpi.png');
}
.soldado {
	background-image: url('../imgs/soldado_72dpi.png');
}
.townsend {
	background-image: url('../imgs/townsend_72dpi.png');
}
.vertonghen {
	background-image: url('../imgs/vertonghen_72dpi.png');
}
.vorm {
	background-image: url('../imgs/vorm_72dpi.png');
}
.walker {
	background-image: url('../imgs/walker_72dpi.png');
}
